.red{
   border: 3px solid white;
   height: 200px;
   width: 200px;
   background-color: red;
}
.pink{
    border: 3px solid white;
    height: 200px;
    width: 200px;
    background-color: pink;

}

.row1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
}

.yellow{
    border: 3px solid white;
    height: 200px;
    width: 200px;
    background-color: yellow;
 }
 .green{
     border: 3px solid white;
     height: 200px;
     width: 200px;
     background-color: green;
 
 }
 .orange{
    border: 3px solid white;
    height: 200px;
    width: 200px;
    background-color: orange;
 }
 .row2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
   
    margin-top: 50px;
 }

.blue{
   border: 3px solid white;
   height: 200px;
   width: 400px;
   background-color: blue;
}
 .row3{
display: flex;
justify-content: center;
margin-top: 50px;
 }

 .main{
    border: 5px solid black ;
    padding: 25px;
    background-color: brown;
 }
